@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    box-sizing: border-box;
    /* padding: 0px; */
    /* margin: 3px; */
    /* border: 1px solid blue; */
}

html {
    font-family: 'Kanit', sans-serif;
    min-width: 360px;
}

body {
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
    text-align: center;
}

fieldset{
    background-color: aliceblue;
    border: 0;
}

.difficulty {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    gap: 4px;
    justify-content: center;
    flex-flow: column nowrap;
    max-width: 200px;
    align-items: center;
    margin: auto;
}

.guessField {
    width: 200px;
    font-size: 1.2em;
    font-family: 'Kanit', sans-serif;
}

button, select {
    padding: 3px;
    font-family: 'Kanit', sans-serif;
}

.resultParas {
    margin: 20px 0;
}

.resultParas>* {
    margin: 4px 0;
    padding: 5px;
}

.guesses {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10px;
    background-color: blue;
    color: #fff;
}

.hint {
    background-color: hotpink;
}

.lowOrHi {
    background-color: yellow;
}

#correct {
    color: #fff;
    background-color: green;
    font-size: 2em;
    box-shadow: 2px 2px 5px green;
}

#incorrect {
    color: #fff;
    background-color: red;
}

#game-over {
    color: red;
    font-weight: 900;
    border: 2px solid red;
    box-shadow: 2px 2px 5px;
    font-size: 2.5em;
}

@media (min-width:400px) {
    form {
        flex-flow: row nowrap;
        max-width: 600px;
    }
}